/**index.wxss**/

.page-articles {
   height: 100%;
   background: linear-gradient(to bottom, #f7f3ee, #EBE1D5);
   background-attachment: fixed;
}

body {
   background: linear-gradient(to bottom, #f8f4ee, #EBE1D5);
   background-attachment: fixed;
}

.bg-orange-0 {
   background-color: rgba(255, 246, 238, .7);
}